@model VideoConfigsViewModel
@{
  ViewData["Title"] = "Videos";
  var videosCount = Model.Videos?.Count() ?? 0;
}

<div class="row">
  <div class="col-xs-12 col-md-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="whl-link" asp-area="" asp-controller="Home" asp-action="Index"
            title="Home"><small><i class="fa-solid fa-house"></i></small></a></li>
        <li class="breadcrumb-item"><small>Public Site</small></li>
        <li class="breadcrumb-item active fs-6 fw-bolder" aria-current="page"><small>@ViewData["Title"]</small></li>
      </ol>
    </nav>
  </div>
  <div class="col-xs-12 col-md-3 text-end">
    <button type="button" class="btn btn-sm btn-link whl-link mr-4 whl-action-refresh-page" title="Refresh"
      aria-label="Refresh"><i class="fa-solid fa-rotate-right"></i></button>
  </div>
</div>

<div class="text-left mt-8">
  <div class="card bg-light">
    <table class="table table-sm table-hover">
      <thead class="bg-whlgreen text-white">
        <tr>
          <th class="text-center" style="width: 120px;">
            <small>
              @if (Model.CanEdit)
              {
                <a class="whl-link text-white fw-bold whl-action-add-video" title="Add a new video"
                  href="javascript:void(0);"><i class="fa-solid fa-plus"></i>&nbsp;Add</a>
              }
            </small>
          </th>
          <th class="text-left"><small>Title</small></th>
          <th class="text-left"><small>Link</small></th>
          <th class="text-center" style="width: 120px;"><small>Display Order</small></th>
          <th class="text-center" style="width: 120px;"><small>Home Page?</small></th>
          <th class="text-center" style="width: 60px;"><small>Active</small></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        @if (videosCount == 0)
        {
          <tr>
            <td colspan="6" class="text-center">No videos found</td>
          </tr>
        }
        else
        {
          foreach (var video in Model.Videos)
          {
            <tr>
              <td class="text-center" style="width: 120px;">
                <small>
                  @if (Model.CanEdit)
                  {
                    <a class="whl-link whl-action-edit-video" data-videoid="@video.VideoId" title="Edit video"
                      href="javascript:void(0);"><i class="fa-solid fa-pencil"></i></a>
                    @* <a class="whl-link whl-action-delete-video ml-8" data-videoid="@video.VideoId" title="Delete video"
                      href="javascript:void(0);"><i class="fa-solid fa-trash"></i></a> *@
                  }
                  <a class="whl-link whl-action-view-audit ml-8" data-entitytype="VIDEO" data-entityid="@video.VideoId"
                    title="View audit log" href="javascript:void(0);"><i class="fa-solid fa-list"></i></a>
                </small>
              </td>
              <td class="text-left">
                <small>
                  @video.Title
                  @if (!string.IsNullOrEmpty((video.Text ?? "").Trim()))
                  {
                    <br />
                    <span class="text-secondary">@video.Text.Trim()</span>
                  }
                </small>
              </td>
              <td class="text-left"><small><a href="@video.Url" target="_blank" title="View video">@video.Url</a></small>
              </td>
              <td class="text-center" style="width: 120px;">
                <small>@video.DisplayOrder</small>
              </td>
              <td class="text-center" style="width: 120px;">
                <small>
                  @if (video.DisplayOnHomePageInd)
                  {
                    <i class="fa-solid fa-check text-success"></i>
                  }
                </small>
              </td>
              <td class="text-center" style="width: 60px;">
                <small>
                  @if (video.Active)
                  {
                    <i class="fa-solid fa-circle text-success"></i>
                  }
                </small>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Video Editor Modal -->
<div class="modal fade" id="videoEditorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="videoEditorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="videoEditorModalLabel">
          <span id="whl-title-video-action">Video Editor</span>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <input type="hidden" id="hidVideoAction" name="hidVideoAction" value="" />
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
            class="fa-solid fa-ban"></i>&nbsp;Cancel</button>
        <button type="button" class="btn btn-primary whl-action-save-video"><i
            class="fa-solid fa-floppy-disk"></i>&nbsp;Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Audit Viewer Modal -->
@await Html.PartialAsync("~/Views/Shared/_AuditViewerModalPartial.cshtml")

@section Scripts
{
  <script>
    //<![CDATA[
    const videoConfigAddUrl = '@Url.Action("Add", "VideoConfigs")';
    const videoConfigEditUrl = '@Url.Action("Edit", "VideoConfigs")';
    const videoConfigDeleteUrl = '@Url.Action("Delete", "VideoConfigs")';
    const auditViewerUrl = '@Url.Action("Index", "Audit")';
    //]]>
  </script>
  <script src="~/js/management/common.js" asp-append-version="true"></script>
  <script src="~/js/management/videoconfigs.js" asp-append-version="true"></script>
}