@model MarketingAgentsViewModel
@{
  ViewData["Title"] = "Marketing Agents";
  var agentCount = Model.Agents?.Count() ?? 0;
}

<div class="row">
  <div class="col-xs-12 col-md-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="whl-link" asp-area="" asp-controller="Home" asp-action="Index"
            title="Home"><small><i class="fa-solid fa-house"></i></small></a></li>
        <li class="breadcrumb-item"><small>Admin Site</small></li>
        <li class="breadcrumb-item active fs-6 fw-bolder" aria-current="page"><small>@ViewData["Title"]</small></li>
      </ol>
    </nav>
  </div>
  <div class="col-xs-12 col-md-3 text-end">
    <button type="button" class="btn btn-sm btn-link whl-link mr-4 whl-action-refresh-page" title="Refresh"
      aria-label="Refresh"><i class="fa-solid fa-rotate-right"></i></button>
  </div>
</div>

<div class="text-left mt-8">
  <div class="card bg-light">
    <table class="table table-sm table-hover">
      <thead class="bg-whlgreen text-white">
        <tr>
          <th class="text-center" style="width: 120px;">
            <small>
              @if (Model.CanEdit)
              {
                <a class="whl-link text-white fw-bold whl-action-add-agent" title="Add a new agent"
                  href="javascript:void(0);"><i class="fa-solid fa-plus"></i>&nbsp;Add</a>
              }
            </small>
          </th>
          <th class="text-left" style="width: 240px;"><small>Agency/Company Name</small></th>
          <th class="text-left"><small>Contact Name</small></th>
          <th class="text-left"><small>Phone Number</small></th>
          <th class="text-left"><small>Email Address</small></th>
          <th class="text-center" style="width: 120px;"><small>Usage Count</small></th>
          <th class="text-center" style="width: 60px;"><small>Active</small></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        @if (agentCount == 0)
        {
          <tr>
            <td colspan="7" class="text-center">No marketing agents found</td>
          </tr>
        }
        else
        {
          foreach (var agent in Model.Agents)
          {
            <tr>
              <td class="text-center" style="width: 120px;">
                <small>
                  @if (Model.CanEdit)
                  {
                    <a class="whl-link whl-action-edit-agent" data-agentid="@agent.AgentId" title="Edit agent"
                      href="javascript:void(0);"><i class="fa-solid fa-pencil"></i></a>
                    @* <a class="whl-link whl-action-delete-agent ml-8" data-agentid="@agent.AgentId" title="Delete agent"
                      href="javascript:void(0);"><i class="fa-solid fa-trash"></i></a> *@
                  }
                  <a class="whl-link whl-action-view-audit ml-8" data-entitytype="MKTAGENT" data-entityid="@agent.AgentId"
                    title="View audit log" href="javascript:void(0);"><i class="fa-solid fa-list"></i></a>
                </small>
              </td>
              <td class="text-left" style="width: 240px;"><small>@agent.Name</small></td>
              <td class="text-left"><small>@agent.ContactName</small></td>
              <td class="text-left"><small>@agent.PhoneNumber</small></td>
              <td class="text-left"><small>@agent.EmailAddress</small></td>
              <td class="text-center" style="width: 120px;"><small>@agent.UsageCount</small></td>
              <td class="text-center" style="width: 60px;">
                <small>
                  @if (agent.Active)
                  {
                    <i class="fa-solid fa-circle text-success"></i>
                  }
                </small>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Agent Editor Modal -->
<div class="modal fade" id="agentEditorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="agentEditorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="agentEditorModalLabel"><span id="whl-title-agent-action">Agent
            Editor</span></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <input type="hidden" id="hidAgentAction" name="hidAgentAction" value="" />
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
            class="fa-solid fa-ban"></i>&nbsp;Cancel</button>
        <button type="button" class="btn btn-primary whl-action-save-agent"><i
            class="fa-solid fa-floppy-disk"></i>&nbsp;Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Audit Viewer Modal -->
@await Html.PartialAsync("~/Views/Shared/_AuditViewerModalPartial.cshtml")

@section Scripts
{
  <script>
    //<![CDATA[
    const marketingAgentAddUrl = '@Url.Action("Add", "MarketingAgents")';
    const marketingAgentEditUrl = '@Url.Action("Edit", "MarketingAgents")';
    const marketingAgentDeleteUrl = '@Url.Action("Delete", "MarketingAgents")';
    const auditViewerUrl = '@Url.Action("Index", "Audit")';
    //]]>
  </script>
  <script src="~/js/management/common.js" asp-append-version="true"></script>
  <script src="~/js/management/marketingagents.js" asp-append-version="true"></script>
}