@model EditableHouseholdMemberViewModel
@{
  var pageAction = Model.MemberId > 0 ? "Edit" : "Add";
  var pageActionTitle = $"{pageAction} Household Member";
  ViewData["Title"] = pageActionTitle;
  ViewData["MENUID"] = "HOUSEHOLD";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="whl-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home"><i
          class="fa-solid fa-house"></i></a></li>
    <li class="breadcrumb-item"><a class="whl-link" asp-area="" asp-controller="Household" asp-action="Index"
        title="Household">Household</a></li>
    <li class="breadcrumb-item active" aria-current="page">@pageActionTitle</li>
  </ol>
</nav>

<div class="text-left mt-32 household-page">
  <div class="card border-0 shadow-lg">
    @* <h5 class="card-header">@pageActionTitle</h5> *@
    <div class="card-body">
      <h4 class="text-secondary whl-card-title">@pageActionTitle</h4>
      @using (Html.BeginForm("EditMember", "Household", FormMethod.Post, new
      {
        @class = "form whl-form-edit-member",
        id = "frmEditMember",
        name = "frmEditMember"
      }))
      {

        if (!string.IsNullOrEmpty((Model.Message ?? "").Trim()))
        {
          <div id="divSaveErrorMessage">
            <h6 class="text-danger"><i class="fa-solid fa-triangle-exclamation"></i>&nbsp;Error</h6>
            <p id="lblSaveErrorMessage">@Model.Message</p>
            <hr />
          </div>
        }

        @await Html.PartialAsync("~/Views/Shared/_RequiredFieldBlurb.cshtml")

        <div class="row mb-3">

          <div class="col-xs-12 col-md-3">
            <label class="form-label small fw-bolder" asp-for="RelationTypeCd">Relation Type <span class="fw-bold text-danger">*</span></label><br />
            <select class="form-select whl-formfield-relationtypecd" placeholder="Select One" asp-for="RelationTypeCd" asp-items="@(new SelectList(Model.RelationTypes, "Key", "Value", Model.RelationTypeCd))"></select>
            <div id="whl-formfield-helptext-relationtypecd" class="form-text">Please specify relationship type to head of Household.</div>
          </div>

          <div class="col-xs-12 col-md-3 whl-formfieldcol-relationtypeother" style="display: none;">
            <label class="form-label small fw-bolder" asp-for="RelationTypeOther">Other Relation Type <span class="fw-bold text-danger">*</span></label><br />
            <input type="text" class="form-control whl-formfield-relationtypeother" maxlength="100" placeholder="Please specify" autocomplete="off" asp-for="RelationTypeOther" />
            <div id="whl-formfield-helptext-relationtypeother" class="form-text">Please specify other relationship type.</div>
          </div>

        </div>

        <div class="row mt-16 mb-3">

          <div class="col-xs-12 col-md-2" style="display: none;">
            <label class="form-label small fw-bolder" asp-for="Title">Title</label><br />
            <input type="text" class="form-control whl-formfield-title" maxlength="10" placeholder="Enter Title"
              autocomplete="off" asp-for="Title" />
          </div>

          <div class="col-xs-12 col-md-3">
            <label class="form-label small fw-bolder" asp-for="FirstName">First Name <span
                class="fw-bold text-danger">*</span></label><br />
            <input type="text" class="form-control whl-formfield-firstname" maxlength="100" placeholder="Enter First Name"
              autocomplete="firstname" asp-for="FirstName" />
          </div>

          <div class="col-xs-12 col-md-2">
            <label class="form-label small" asp-for="MiddleName">Middle Name</label><br />
            <input type="text" class="form-control whl-formfield-middlename" maxlength="100"
              placeholder="Enter Middle Name" autocomplete="middlename" asp-for="MiddleName" />
          </div>

          <div class="col-xs-12 col-md-3">
            <label class="form-label small fw-bolder" asp-for="LastName">Last Name <span
                class="fw-bold text-danger">*</span></label><br />
            <input type="text" class="form-control whl-formfield-lastname" maxlength="100" placeholder="Enter Last Name"
              autocomplete="lastname" asp-for="LastName" />
          </div>

          <div class="col-xs-12 col-md-2">
            <label class="form-label small" asp-for="Suffix">Suffix</label><br />
            <input type="text" class="form-control whl-formfield-suffix" maxlength="10" placeholder="Enter Suffix"
              autocomplete="suffix" asp-for="Suffix" />
          </div>

        </div>

        <div class="row mb-3 mt-16">

          <div class="col-xs-12 col-md-3">
            <label class="form-label small fw-bolder" asp-for="DateOfBirth">Date of Birth <span
                class="fw-bold text-danger">*</span></label><br />
            <input type="date" class="form-control whl-formfield-dateofbirth" maxlength="10" placeholder="MM/dd/yyyy"
              autocomplete="off" asp-for="DateOfBirth" />
          </div>

          <div class="col-xs-12 col-md-3">
            <label class="form-label small fw-bolder" asp-for="Last4SSN">Last 4 of SSN/ITIN <span
                class="fw-bold text-danger">*</span></label><br />
            <input type="text" class="form-control whl-formfield-last4ssn" maxlength="4" placeholder="NNNN"
              autocomplete="off" asp-for="Last4SSN" />
          </div>

        </div>

        <div class="row mb-3 mt-16">

          <div class="col-xs-12 col-md-3">
            <label class="form-label small" asp-for="IdTypeCd">ID Type</label><br />
            <select class="form-select whl-formfield-idtypecd" placeholder="Select One" asp-for="IdTypeCd"
              asp-items="@(new SelectList(Model.IdTypes, "Key", "Value", Model.IdTypeCd))"></select>
          </div>

          <div class="col-xs-12 col-md-3">
            <label class="form-label small" asp-for="IdTypeValue">ID Number</label><br />
            <input type="text" class="form-control whl-formfield-idtypevalue" maxlength="20" placeholder="ID Number"
              autocomplete="off" asp-for="IdTypeValue" />
          </div>

          <div class="col-xs-12 col-md-3">
            <label class="form-label small" asp-for="IdIssueDate">ID Issue Date</label><br />
            <input type="date" class="form-control whl-formfield-idissuedate" maxlength="10" placeholder="MM/dd/yyyy"
              autocomplete="off" asp-for="IdIssueDate" />
          </div>

        </div>

        <div class="row mt-16 mb-3">

          <div class="col-xs-12 col-md-3">
            <label class="form-label small fw-bolder" asp-for="GenderCd">Gender <span
                class="fw-bold text-danger">*</span></label><br />
            <select class="form-select whl-formfield-gendercd" placeholder="Select One" asp-for="GenderCd"
              asp-items="@(new SelectList(Model.GenderTypes, "Key", "Value", Model.GenderCd))"></select>
          </div>

          <div class="col-xs-12 col-md-6">
            <label class="form-label small fw-bolder" asp-for="RaceCd">Race <span
                class="fw-bold text-danger">*</span></label><br />
            <select class="form-select whl-formfield-racecd" placeholder="Select One" asp-for="RaceCd"
              asp-items="@(new SelectList(Model.RaceTypes, "Key", "Value", Model.RaceCd))"></select>
          </div>

          <div class="col-xs-12 col-md-3">
            <label class="form-label small fw-bolder" asp-for="EthnicityCd">Ethnicity <span
                class="fw-bold text-danger">*</span></label><br />
            <select class="form-select whl-formfield-ethnicitycd" placeholder="Select One" asp-for="EthnicityCd"
              asp-items="@(new SelectList(Model.EthnicityTypes, "Key", "Value", Model.EthnicityCd))"></select>
          </div>

        </div>

        <div class="row mt-16 mb-3">

          <div class="col-xs-12 col-md-3">
            <div class="form-check form-switch mt-16">
              <input type="checkbox" class="form-check-input whl-formfield-studentind" role="switch"
                asp-for="StudentInd" />
              <label class="form-check-label small" asp-for="StudentInd">Student?</label>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="form-check form-switch mt-16">
              <input type="checkbox" class="form-check-input whl-formfield-disabilityind" role="switch"
                asp-for="DisabilityInd" />
              <label class="form-check-label small" asp-for="DisabilityInd">Disability?</label>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="form-check form-switch mt-16">
              <input type="checkbox" class="form-check-input whl-formfield-veteranind" role="switch"
                asp-for="VeteranInd" />
              <label class="form-check-label small" asp-for="VeteranInd">Veteran?</label>
            </div>
          </div>

        </div>

        <div class="row mt-16 mb-3">

          <div class="col-xs-12 col-md-6">
            <div class="form-check form-switch mt-16">
              <input type="checkbox" class="form-check-input whl-formfield-everlivedinind" role="switch"
                asp-for="EverLivedInWestchesterInd" />
              <label class="form-check-label small" asp-for="EverLivedInWestchesterInd">Have you ever lived in Westchester
                County?</label>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="form-check form-switch mt-16">
              <input type="checkbox" class="form-check-input whl-formfield-currentlyworkinginind" role="switch"
                asp-for="CurrentlyWorkingInWestchesterInd" />
              <label class="form-check-label small" asp-for="CurrentlyWorkingInWestchesterInd">Do you currently work in
                Westchester County?</label>
            </div>
          </div>

        </div>

        <h5 class="mt-32 border-bottom">Contact Information</h5>

        <div class="row mt-16 mb-3">

          <div class="col-xs-12 col-md-6">
            <label class="form-label small" asp-for="EmailAddress">Email Address</label><br />
            <input type="email" class="form-control whl-formfield-emailaddress" maxlength="200" placeholder="Enter Email Address" autocomplete="email" asp-for="EmailAddress" />
          </div>

          <div class="col-xs-12 col-md-6">
            <label class="form-label small" asp-for="AltEmailAddress">Alternate Email Address</label><br />
            <input type="email" class="form-control whl-formfield-altemailaddress" maxlength="200" placeholder="Enter Alternate Email Address" autocomplete="off" asp-for="AltEmailAddress" />
          </div>

        </div>

        <div class="row mt-16 mb-3">

          <div class="col-xs-12 col-md-4">
            <label class="form-label small" asp-for="PhoneNumber">Phone Number</label><br />
            <input type="tel" class="form-control whl-formfield-phonenumber" maxlength="10" placeholder="Enter Phone Number" autocomplete="phone" asp-for="PhoneNumber" />
          </div>

          <div class="col-xs-12 col-md-2">
            <label class="form-label small" asp-for="PhoneNumberExtn">Extension</label><br />
            <input type="text" class="form-control whl-formfield-phonenumberextn" maxlength="10" placeholder="Extn" autocomplete="off" asp-for="PhoneNumberExtn" />
          </div>

          <div class="col-xs-12 col-md-4">
            <label class="form-label small" asp-for="PhoneNumberTypeCd">Type</label><br />
            <select class="form-select whl-formfield-phonenumbertypecd" placeholder="Select One" asp-for="PhoneNumberTypeCd" asp-items="@(new SelectList(Model.PhoneNumberTypes, "Key", "Value", Model.PhoneNumberTypeCd))"></select>
          </div>

        </div>

        <div class="row mt-16 mb-3">

          <div class="col-xs-12 col-md-4">
            <label class="form-label small" asp-for="AltPhoneNumber">Alternate Phone Number</label><br />
            <input type="tel" class="form-control whl-formfield-altphonenumber" maxlength="10" placeholder="Enter Phone Number" autocomplete="off" asp-for="AltPhoneNumber" />
          </div>

          <div class="col-xs-12 col-md-2">
            <label class="form-label small" asp-for="AltPhoneNumberExtn">Extension</label><br />
            <input type="text" class="form-control whl-formfield-altphonenumberextn" maxlength="10" placeholder="Extn" autocomplete="off" asp-for="AltPhoneNumberExtn" />
          </div>

          <div class="col-xs-12 col-md-4">
            <label class="form-label small" asp-for="AltPhoneNumberTypeCd">Type</label><br />
            <select class="form-select whl-formfield-altphonenumbertypecd" placeholder="Select One" asp-for="AltPhoneNumberTypeCd" asp-items="@(new SelectList(Model.PhoneNumberTypes, "Key", "Value", Model.AltPhoneNumberTypeCd))"></select>
          </div>

        </div>

        <h5 class="mt-32 border-bottom">Income</h5>

        <div class="row mt-16 mb-3">

          <div class="col-xs-12 col-md-4">
            <label class="form-label small" asp-for="IncomeValueAmt">Total Annual Gross Income</label><br />
            <input type="text" class="form-control whl-formfield-incomevalueamt" maxlength="9" placeholder="Enter Total Annual Gross Income" autocomplete="off" asp-for="IncomeValueAmt" />
            <div id="whl-formfield-helptext-incomevalueamt" class="form-text">Enter the gross value of all income you receive annually.</div>
          </div>

          @* <div class="col-xs-12 col-md-4">
            <label class="form-label small" asp-for="AssetValueAmt">Total value of all assets owned other than real estate</label><br />
            <input type="text" class="form-control whl-formfield-assetvalueamt" maxlength="9" placeholder="Enter Total Value of all Owned Assets excluding Real Estate" autocomplete="off" asp-for="AssetValueAmt" />
            <div id="whl-formfield-helptext-assetvalueamt" class="form-text">Enter the total value of all non-real estate assets you own.</div>
          </div> *@

        </div>

        <div class="row mt-16 mb-3">

          <div class="col-xs-12 col-md-4">
            <div class="form-check form-switch mt-32">
              <input type="checkbox" class="form-check-input whl-formfield-ownrealestateind" role="switch" asp-for="OwnRealEstateInd" />
              <label class="form-check-label" asp-for="OwnRealEstateInd">Do you own any real estate or shares in a Co-op?</label>
            </div>
          </div>

          <div class="col-xs-12 col-md-4 whl-formfieldcol-realestatevalueamt" style="display: none;">
            <label class="form-label small" asp-for="RealEstateValueAmt">Total value of all owned real estate or shares in a Co-op</label><br />
            <input type="text" class="form-control whl-formfield-realestatevalueamt" maxlength="9" placeholder="Enter Total Value of Owned Real Estate" autocomplete="off" asp-for="RealEstateValueAmt" />
            <div id="whl-formfield-helptext-realestatevalueamt" class="form-text">Enter the total value of any real estate or shares in a Co-op you own.</div>
          </div>

        </div>

        <hr />

        @Html.HiddenFor(h => h.Username)
        @Html.HiddenFor(h => h.HouseholdId)
        @Html.HiddenFor(h => h.MemberId)
        <input type="hidden" id="hidSaveMemberAction" name="hidSaveMemberAction" value="" />
        <a class="btn btn-outline-secondary whl-action-cancel-member" asp-area="" asp-controller="Household" asp-action="Index" title="Cancel Changes" aria-label="Cancel Changes">Cancel</a>
        <button type="submit" class="btn btn-primary whl-action-save-member" title="Save Changes" aria-label="Save Changes">Save Changes</button>

      }
    </div>
  </div>
</div>

@section Scripts
{
  <script src="~/js/household/member.actions.js" asp-append-version="true"></script>
  <script src="~/js/household/member.validations.js" asp-append-version="true"></script>
}