@model EditableListingPetsAllowedViewModel

<div class="text-left">
  @using (Html.BeginForm("EditPetsAllowed", "Listings", FormMethod.Post))
  {
    <div id="divPetsAllowedSaveErrorMessage" style="display: none;">
      <h6 class="text-danger"><i class="fa-solid fa-triangle-exclamation"></i>&nbsp;Error</h6>
      <p id="lblPetsAllowedSaveErrorMessage">Failed to save Pet Policy information</p>
      <hr />
    </div>

    <input type="hidden" id="PetsAllowedListingId" name="PetsAllowedListingId" value="@Model.ListingId" />

    <div class="row mb-3">
      <div class="col-sm-3"><label class="form-label">Pet Policy</label></div>
      <div class="form-check form-switch col-sm-9">
        @Html.CheckBoxFor(m => m.PetsAllowedInd, htmlAttributes: new { @class = "form-check-input", role = "switch" })
        @Html.LabelFor(l => l.PetsAllowedInd, "Yes", htmlAttributes: new { @class = "form-check-label" })
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12">
        @Html.LabelFor(l => l.PetsAllowedText, "Disclosure", htmlAttributes: new { @class = "form-label" })<br />
        @Html.TextAreaFor(e => e.PetsAllowedText, htmlAttributes: new { @class = "form-control whl-formfield-petsallowedtext", placeholder = "Enter Disclosure", rows = 5 })
        @Html.ValidationMessageFor(v => v.PetsAllowedText)
      </div>
    </div>
  }
</div>
