@model ApplicationActionsViewModel
@{
  var steps = new Dictionary<int, string>();
  steps.Add(1, "My Profile");
  steps.Add(2, "My Household");
  steps.Add(3, "Additional Members");
  steps.Add(4, "Income & Assets");
  steps.Add(5, "Review and Submit");

  var actions = new Dictionary<int, string>();
  actions.Add(1, "ApplicantInfo");
  actions.Add(2, "HouseholdInfo");
  actions.Add(3, "AdditionalMembersInfo");
  actions.Add(4, "IncomeAssetsInfo");
  actions.Add(5, "ReviewSubmitInfo");
}

@if (Model.StepNumber == 99)
{
  if (Model.CanWithdraw)
  {
    <button type="button" class="btn btn-outline-secondary whl-action-withdraw-application mr-2" title="Withdraw Application"
      aria-label="Withdraw Application" data-applicationid="@Model.ApplicationId">Withdraw Application</button>
  }
  if (Model.DocumentsReqdInd)
  {
    <a class="btn btn-outline-secondary whl-action-manage-documents mr-2" href="#DOCS" title="Manage Documents"
      aria-label="Manage Documents">Manage Documents</a>
  }
  <a class="btn btn-outline-secondary whl-action-close-application mr-2" asp-area="" asp-controller="Applications"
    asp-action="Dashboard" title="Close" aria-label="Close">Close</a>
  <a class="btn btn-outline-secondary whl-action-view-listings" asp-area="" asp-controller="Listings" asp-action="Index"
    title="Back to Listings" aria-label="Back to Listings">Back to Listings</a>
}
else
{
  <input type="hidden" class="whl-formfield-savemode" asp-for="SaveMode" value="@Model.SaveMode" />
  <input type="hidden" asp-for="ListingId" value="@Model.ListingId" />
  <input type="hidden" asp-for="Username" value="@Model.Username" />
  <input type="hidden" asp-for="ApplicationId" value="@Model.ApplicationId" />
  @if (Model.ApplicationId > 0)
  {
    <a class="btn btn-outline-secondary whl-action-close-application" asp-area="" asp-controller="Listings"
      asp-action="Details" asp-route-listingId="@Model.ListingId" title="Close Application"
      aria-label="Close Application">Close</a>
  }
  else
  {
    <a class="btn btn-outline-secondary whl-action-cancel-application" asp-area="" asp-controller="Listings"
      asp-action="Details" asp-route-listingId="@Model.ListingId" title="Cancel Changes"
      aria-label="Cancel Changes">Cancel</a>
  }
  @if (Model.StepNumber > 1)
  {
    <a class="btn btn-outline-secondary whl-action-step-previous ml-32" asp-area="" asp-controller="Applications"
      asp-action="@actions[Model.StepNumber - 1]" asp-route-applicationId="@Model.ApplicationId"
      title="Back to previous step" aria-label="Back to previous step">Previous</a>
  }
  @if (Model.StepNumber == steps.Count)
  {
    <button type="submit" class="btn btn-primary whl-action-submit-application" title="Submit Application"
      aria-label="Submit Application">Submit Application</button>
    <button type="button" class="btn btn-outline-secondary whl-action-withdraw-application ml-32" title="Withdraw Application"
      aria-label="Withdraw Application" data-applicationid="@Model.ApplicationId">Withdraw Application</button>
  }
  else
  {
    <button type="button" class="btn btn-outline-secondary whl-action-save-draft ml-32" title="Save Draft"
      aria-label="Save Draft">Save Draft</button>
    <button type="submit" class="btn btn-primary whl-action-save-next" title="Save and Next" aria-label="Save and Next">Save
      &amp; Next</button>
    if (Model.ApplicationId > 0)
    {
      <button type="button" class="btn btn-outline-secondary whl-action-withdraw-application ml-32" title="Withdraw Application"
        aria-label="Withdraw Application" data-applicationid="@Model.ApplicationId">Withdraw Application</button>
    }
  }
}