@model ListingViewModel

@if (Model == null) return;

<div class="card border-0 border-left">
  <div class="card-body">
    <h5 class="fs-4 border-bottom text-secondary">Applying For</h5>
    <div class="card-text">
      <div class="row mb-3">
        <div class="col-xs-12">
          <span class="fs-5 fw-semibold text-dark">@Model.Name</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-xs-12">
          <small class="border-bottom">Address</small><br />
          <span class="fs-6 fw-semibold text-dark">@Model.AddressText</span>
        </div>
      </div>
      @if (Model.Units.Any())
      {
        <div class="row mb-3">
          <div class="col-xs-12">
            <small class="border-bottom">Units</small><br />
            @foreach (var ami in Model.AreaMedianIncomePcts)
            {
              var unitsText = string.Join(", ", Model.Units?.Where(w => w.AreaMedianIncomePct == ami)?.OrderBy(o => o.BedroomCnt)?.Select(s => s.UnitTypeDescription) ?? []);
              if (unitsText.Length > 0)
              {
                <span class="fs-6 fw-semibold text-dark">@($"{ami}%")</span><br />
                @unitsText
              }
            }
          </div>
        </div>
      }
      @if (!string.IsNullOrEmpty(Model.DisplayApplicationEndDate))
      {
        <div class="row mb-3">
          <div class="col-xs-12">
            <small class="border-bottom">Due Date</small><br />
            <span class="fs-6 fw-semibold text-dark">@Model.DisplayApplicationEndDate</span>
          </div>
        </div>
      }
      @if (!string.IsNullOrEmpty(Model.DisplayLotteryDate))
      {
        <div class="row mb-3">
          <div class="col-xs-12">
            <small class="border-bottom">Lottery Date</small><br />
            <span class="fs-6 fw-semibold text-dark">@Model.DisplayLotteryDate</span>
          </div>
        </div>
      }
    </div>
  </div>
</div>