@model FundingSourcesViewModel
@{
  ViewData["Title"] = "Funding Sources";
  var fundingSourceCount = Model.FundingSources?.Count() ?? 0;
}

<div class="row">
  <div class="col-xs-12 col-md-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="whl-link" asp-area="" asp-controller="Home" asp-action="Index"
            title="Home"><small><i class="fa-solid fa-house"></i></small></a></li>
        <li class="breadcrumb-item"><small>Admin Site</small></li>
        <li class="breadcrumb-item active fs-6 fw-bolder" aria-current="page"><small>@ViewData["Title"]</small></li>
      </ol>
    </nav>
  </div>
  <div class="col-xs-12 col-md-3 text-end">
    <button type="button" class="btn btn-sm btn-link whl-link mr-4 whl-action-refresh-page" title="Refresh"
      aria-label="Refresh"><i class="fa-solid fa-rotate-right"></i></button>
  </div>
</div>

<div class="text-left mt-8">
  <div class="card bg-light">
    <table class="table table-sm table-hover">
      <thead class="bg-whlgreen text-white">
        <tr>
          <th class="text-center" style="width: 120px;">
            <small>
              @if (Model.CanEdit)
              {
                <a class="whl-link text-white fw-bold whl-action-add-fundingsource" title="Add a new funding source"
                  href="javascript:void(0);"><i class="fa-solid fa-plus"></i>&nbsp;Add</a>
              }
            </small>
          </th>
          <th class="text-left" style="width: 360px;"><small>Name</small></th>
          <th class="text-left"><small>Description</small></th>
          <th class="text-center" style="width: 120px;"><small>Usage Count</small></th>
          <th class="text-center" style="width: 60px;"><small>Active</small></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        @if (fundingSourceCount == 0)
        {
          <tr>
            <td colspan="5" class="text-center">No funding sources found</td>
          </tr>
        }
        else
        {
          foreach (var fundingSource in Model.FundingSources)
          {
            <tr>
              <td class="text-center" style="width: 120px;">
                <small>
                  @if (Model.CanEdit)
                  {
                    <a class="whl-link whl-action-edit-fundingsource" data-fundingsourceid="@fundingSource.FundingSourceId"
                      title="Edit funding source" href="javascript:void(0);"><i class="fa-solid fa-pencil"></i></a>
                    @* <a class="whl-link whl-action-delete-fundingsource ml-8" data-fundingsourceid="@documentType.FundingSourceId" title="Delete funding source"
                      href="javascript:void(0);"><i class="fa-solid fa-trash"></i></a> *@
                  }
                  <a class="whl-link whl-action-view-audit ml-8" data-entitytype="FUNDSRC"
                    data-entityid="@fundingSource.FundingSourceId" title="View audit log" href="javascript:void(0);"><i
                      class="fa-solid fa-list"></i></a>
                </small>
              </td>
              <td class="text-left" style="width: 360px;"><small>@fundingSource.Name</small></td>
              <td class="text-left"><small>@fundingSource.Description</small></td>
              <td class="text-center" style="width: 120px;"><small>@fundingSource.UsageCount</small></td>
              <td class="text-center" style="width: 60px;">
                <small>
                  @if (fundingSource.Active)
                  {
                    <i class="fa-solid fa-circle text-success"></i>
                  }
                </small>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>

<!-- FundingSource Editor Modal -->
<div class="modal fade" id="fundingSourceEditorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="fundingSourceEditorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="fundingSourceEditorModalLabel"><span
            id="whl-title-fundingsource-action">Funding Source
            Editor</span></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <input type="hidden" id="hidFundingSourceAction" name="hidFundingSourceAction" value="" />
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
            class="fa-solid fa-ban"></i>&nbsp;Cancel</button>
        <button type="button" class="btn btn-primary whl-action-save-fundingsource"><i
            class="fa-solid fa-floppy-disk"></i>&nbsp;Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Audit Viewer Modal -->
@await Html.PartialAsync("~/Views/Shared/_AuditViewerModalPartial.cshtml")

@section Scripts
{
  <script>
    //<![CDATA[
    const fundingSourceAddUrl = '@Url.Action("Add", "FundingSources")';
    const fundingSourceEditUrl = '@Url.Action("Edit", "FundingSources")';
    const fundingSourceDeleteUrl = '@Url.Action("Delete", "FundingSources")';
    const auditViewerUrl = '@Url.Action("Index", "Audit")';
    //]]>
  </script>
  <script src="~/js/management/common.js" asp-append-version="true"></script>
  <script src="~/js/management/fundingsources.js" asp-append-version="true"></script>
}