@model ResendActivationViewModel
@{
  ViewData["Title"] = "Reset Password";
  ViewData["MENUID"] = "PROFILE";
}

@* <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="whl-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home"><i
          class="fa-solid fa-house"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
  </ol>
</nav> *@

<div class="text-left py-16 mt-64 login-page">
  <div class="login-container">
    <div class="card border-0 shadow-lg">
      @* <h5 class="card-header">Reset Password</h5> *@
      <div class="card-body">
        <h4 class="text-secondary whl-card-title">Reset Password</h4>
        @using (Html.BeginForm("ResetPasswordRequest", "Account", FormMethod.Post, new { @class = "form whl-form-reset-password-request", id = "frmResetPasswordRequest", name = "frmResetPasswordRequest" }))
        {
          if (!string.IsNullOrEmpty((Model.Message ?? "").Trim()))
          {
            <div class="mb-16" id="divSaveErrorMessage">
              <h6 class="text-danger"><i class="fa-solid fa-triangle-exclamation"></i>&nbsp;Error</h6>
              <p id="lblSaveErrorMessage">@Model.Message</p>
              <hr />
            </div>
          }

          <div class="row mb-3">
            <div class="col-xs-12">
              <p class="lead">Enter the username associated with your HomeSeeker account to request for a password reset.</p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-xs-12">
              @Html.TextBoxFor(e => e.Username, htmlAttributes: new { @class = "form-control whl-formfield-username", placeholder = "Enter Username", autocomplete = "username" })
              @Html.ValidationMessageFor(v => v.Username)
            </div>
          </div>

          <input type="hidden" id="hidResetPasswordRequestAction" name="hidResetPasswordRequestAction" value="" />
          @Html.HiddenFor(h => h.RecaptchaEnabled, htmlAttributes: new { @class = "whl-formfield-recaptchaenabled" })
          @if (Model.RecaptchaEnabled == "1")
          {
            @Html.HiddenFor(h => h.RecaptchaVersion, htmlAttributes: new { @class = "whl-formfield-recaptchaversion" })
            @Html.HiddenFor(h => h.RecaptchaAction, htmlAttributes: new { @class = "whl-formfield-recaptchaaction" })
            @Html.HiddenFor(h => h.RecaptchaToken, htmlAttributes: new { @class = "whl-formfield-grecaptchatoken" })
            <div class="g-recaptcha" data-sitekey="@Model.RecaptchaKey" data-callback="fnResetPasswordRequest" data-size="invisible"></div>
          }
          <button type="submit" class="btn btn-primary whl-action-reset-password-request">Request Reset</button>
        }
      </div>
    </div>
  </div>
</div>

@section Scripts
{
  @if (Model.RecaptchaEnabled == "1")
  {
    <script src="@Model.RecaptchaTokenUrl" async defer></script>
    <script src="~/js/password/resetpasswordrequest.recaptcha.@(Model.RecaptchaVersion).js" asp-append-version="true"></script>
  }
  else
  {
    <script src="~/js/password/resetpasswordrequest.actions.js" asp-append-version="true"></script>
  }
  <script src="~/js/password/resetpasswordrequest.validations.js" asp-append-version="true"></script>
}